@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "mytheme";
    default: true;
    /* set as default */
    prefersdark: false;
    /* set as default dark mode (prefers-color-scheme:dark) */
    color-scheme: light;
    /* color of browser-provided UI */

    --color-base-100: #ffddef;
    --color-base-200: #93c3ff;
    --color-base-300: oklch(92% 0.04 240);
    --color-base-content: oklch(20% 0.05 240);
    /* --color-primary: oklch(43.22% 0.11 328.3); */
    --color-primary: #48264B;
    --color-primary-content: oklch(98% 0.01 240);
    --color-secondary: oklch(70% 0.25 200);
    --color-secondary-content: oklch(98% 0.01 200);
    --color-accent: oklch(65% 0.25 160);
    --color-accent-content: oklch(98% 0.01 160);
    --color-neutral: #ffddef;
    --color-neutral-content: #48264B;
    --color-info: oklch(70% 0.2 220);
    --color-info-content: oklch(98% 0.01 220);
    --color-success: oklch(65% 0.25 140);
    --color-success-content: oklch(98% 0.01 140);
    --color-warning: oklch(80% 0.25 80);
    --color-warning-content: oklch(20% 0.05 80);
    --color-error: #d76684;
    --color-error-content: oklch(98% 0.01 30);

    /* border radius */
    --radius-selector: 1rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;

    /* base sizes */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    /* border size */
    --border: 1px;

    /* effects */
    --depth: 1;
    --noise: 0; }


*{
    font-family: "VT323";
    /* color: #48264B; */
}

.test{
    color: rgba(255, 255, 255, 0);
}

.background-image{
    background-image: url("../../public/img/wallpaper.png");
    height: 100%;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.icon-image{
    width: 100px;
}
